<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: issue_project.go in package gitlab.com/pcanilho/go-jira-cli/cmd/interactive</title>
<link href="../../../../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	issue_project.go

<span class="title">Belonging Package</span>
	<a href="../../../../../../pkg/gitlab.com/pcanilho/go-jira-cli/cmd/interactive.html">gitlab.com/pcanilho/go-jira-cli/cmd/interactive</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>package interactive</code></span>
<span class="codeline" id="line-2"><code></code></span>
<span class="codeline" id="line-3"><code>import (</code></span>
<span class="codeline" id="line-4"><code>	"fmt"</code></span>
<span class="codeline" id="line-5"><code>	"github.com/manifoldco/promptui"</code></span>
<span class="codeline" id="line-6"><code>	"gitlab.com/pcanilho/go-jira"</code></span>
<span class="codeline" id="line-7"><code>	"gitlab.com/pcanilho/go-jira-cli/cmd/helpers"</code></span>
<span class="codeline" id="line-8"><code>	"gitlab.com/pcanilho/go-jira-cli/internal"</code></span>
<span class="codeline" id="line-9"><code>	"strings"</code></span>
<span class="codeline" id="line-10"><code>)</code></span>
<span class="codeline" id="line-11"><code></code></span>
<span class="codeline" id="line-12"><code>type issueProject struct {</code></span>
<span class="codeline" id="line-13"><code>	promptui.Select</code></span>
<span class="codeline" id="line-14"><code>	next, previous Menu</code></span>
<span class="codeline" id="line-15"><code>	controller     internal.ProjectController</code></span>
<span class="codeline" id="line-16"><code>}</code></span>
<span class="codeline" id="line-17"><code></code></span>
<span class="codeline" id="line-18"><code>var issueProjectTemplate = &amp;promptui.SelectTemplates{</code></span>
<span class="codeline" id="line-19"><code>	Label:    "{{ . }}?",</code></span>
<span class="codeline" id="line-20"><code>	Active:   "→ ({{ .Key | red }}) {{ .Name | cyan }}",</code></span>
<span class="codeline" id="line-21"><code>	Inactive: "  ({{ .Key | red }}) {{ .Name | cyan }}",</code></span>
<span class="codeline" id="line-22"><code>	Selected: "→ {{ .Name | red | cyan }}",</code></span>
<span class="codeline" id="line-23"><code>	Details: `{{ if not .Name }} {{ . }} {{ else }}</code></span>
<span class="codeline" id="line-24"><code>----------- Details ------------</code></span>
<span class="codeline" id="line-25"><code>{{ "Key:" | faint }}	  {{ .Key }}</code></span>
<span class="codeline" id="line-26"><code>{{ "Name:" | faint }}	  {{ .Name }} {{ end }}`,</code></span>
<span class="codeline" id="line-27"><code>	FuncMap: helpers.GenerateTemplateFuncMap(promptui.FuncMap),</code></span>
<span class="codeline" id="line-28"><code>}</code></span>
<span class="codeline" id="line-29"><code></code></span>
<span class="codeline" id="line-30"><code>func NewIssueProjectMenu(projects []jira.Project, previous Menu) Menu {</code></span>
<span class="codeline" id="line-31"><code>	values := []interface{}{PreviousMenu}</code></span>
<span class="codeline" id="line-32"><code>	for _, p := range projects {</code></span>
<span class="codeline" id="line-33"><code>		values = append(values, p)</code></span>
<span class="codeline" id="line-34"><code>	}</code></span>
<span class="codeline" id="line-35"><code></code></span>
<span class="codeline" id="line-36"><code>	return &amp;issueProject{</code></span>
<span class="codeline" id="line-37"><code>		previous: previous,</code></span>
<span class="codeline" id="line-38"><code>		Select: promptui.Select{</code></span>
<span class="codeline" id="line-39"><code>			HideSelected: true,</code></span>
<span class="codeline" id="line-40"><code>			Label:        "-------- Projects --------",</code></span>
<span class="codeline" id="line-41"><code>			Templates:    issueProjectTemplate,</code></span>
<span class="codeline" id="line-42"><code>			Items:        values,</code></span>
<span class="codeline" id="line-43"><code>			Searcher: func(input string, index int) bool {</code></span>
<span class="codeline" id="line-44"><code>				project := projects[index]</code></span>
<span class="codeline" id="line-45"><code>				key := strings.TrimSpace(strings.ToLower(project.Key))</code></span>
<span class="codeline" id="line-46"><code>				name := strings.TrimSpace(strings.ToLower(project.Name))</code></span>
<span class="codeline" id="line-47"><code>				input = strings.Replace(strings.ToLower(input), " ", "", -1)</code></span>
<span class="codeline" id="line-48"><code></code></span>
<span class="codeline" id="line-49"><code>				return strings.Contains(key, input) || strings.Contains(name, input)</code></span>
<span class="codeline" id="line-50"><code>			},</code></span>
<span class="codeline" id="line-51"><code>		},</code></span>
<span class="codeline" id="line-52"><code>	}</code></span>
<span class="codeline" id="line-53"><code>}</code></span>
<span class="codeline" id="line-54"><code></code></span>
<span class="codeline" id="line-55"><code>func (mp *issueProject) AttachController(controller internal.Controller) {</code></span>
<span class="codeline" id="line-56"><code>	mp.controller = controller</code></span>
<span class="codeline" id="line-57"><code>}</code></span>
<span class="codeline" id="line-58"><code></code></span>
<span class="codeline" id="line-59"><code>func (mp *issueProject) Render() (int, string, error) {</code></span>
<span class="codeline" id="line-60"><code>	if mp.controller == nil {</code></span>
<span class="codeline" id="line-61"><code>		return -1, "", fmt.Errorf("the menu [controller] cannot be nil")</code></span>
<span class="codeline" id="line-62"><code>	}</code></span>
<span class="codeline" id="line-63"><code></code></span>
<span class="codeline" id="line-64"><code>	i, _, err := mp.Run()</code></span>
<span class="codeline" id="line-65"><code>	if err != nil {</code></span>
<span class="codeline" id="line-66"><code>		return mp.previous.Render()</code></span>
<span class="codeline" id="line-67"><code>	}</code></span>
<span class="codeline" id="line-68"><code></code></span>
<span class="codeline" id="line-69"><code>	switch i {</code></span>
<span class="codeline" id="line-70"><code>	case PreviousSelected:</code></span>
<span class="codeline" id="line-71"><code>		mp.next = mp.previous</code></span>
<span class="codeline" id="line-72"><code>	}</code></span>
<span class="codeline" id="line-73"><code></code></span>
<span class="codeline" id="line-74"><code></code></span>
<span class="codeline" id="line-75"><code>	// @TODO - Search within</code></span>
<span class="codeline" id="line-76"><code>	return mp.next.Render()</code></span>
<span class="codeline" id="line-77"><code>}</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>