<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: error.go in package html/template</title>
<link href="../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	error.go

<span class="title">Belonging Package</span>
	<a href="../../../pkg/html/template.html">html/template</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>// Copyright 2011 The Go Authors. All rights reserved.</code></span>
<span class="codeline" id="line-2"><code>// Use of this source code is governed by a BSD-style</code></span>
<span class="codeline" id="line-3"><code>// license that can be found in the LICENSE file.</code></span>
<span class="codeline" id="line-4"><code></code></span>
<span class="codeline" id="line-5"><code>package template</code></span>
<span class="codeline" id="line-6"><code></code></span>
<span class="codeline" id="line-7"><code>import (</code></span>
<span class="codeline" id="line-8"><code>	"fmt"</code></span>
<span class="codeline" id="line-9"><code>	"text/template/parse"</code></span>
<span class="codeline" id="line-10"><code>)</code></span>
<span class="codeline" id="line-11"><code></code></span>
<span class="codeline" id="line-12"><code>// Error describes a problem encountered during template Escaping.</code></span>
<span class="codeline" id="line-13"><code>type Error struct {</code></span>
<span class="codeline" id="line-14"><code>	// ErrorCode describes the kind of error.</code></span>
<span class="codeline" id="line-15"><code>	ErrorCode ErrorCode</code></span>
<span class="codeline" id="line-16"><code>	// Node is the node that caused the problem, if known.</code></span>
<span class="codeline" id="line-17"><code>	// If not nil, it overrides Name and Line.</code></span>
<span class="codeline" id="line-18"><code>	Node parse.Node</code></span>
<span class="codeline" id="line-19"><code>	// Name is the name of the template in which the error was encountered.</code></span>
<span class="codeline" id="line-20"><code>	Name string</code></span>
<span class="codeline" id="line-21"><code>	// Line is the line number of the error in the template source or 0.</code></span>
<span class="codeline" id="line-22"><code>	Line int</code></span>
<span class="codeline" id="line-23"><code>	// Description is a human-readable description of the problem.</code></span>
<span class="codeline" id="line-24"><code>	Description string</code></span>
<span class="codeline" id="line-25"><code>}</code></span>
<span class="codeline" id="line-26"><code></code></span>
<span class="codeline" id="line-27"><code>// ErrorCode is a code for a kind of error.</code></span>
<span class="codeline" id="line-28"><code>type ErrorCode int</code></span>
<span class="codeline" id="line-29"><code></code></span>
<span class="codeline" id="line-30"><code>// We define codes for each error that manifests while escaping templates, but</code></span>
<span class="codeline" id="line-31"><code>// escaped templates may also fail at runtime.</code></span>
<span class="codeline" id="line-32"><code>//</code></span>
<span class="codeline" id="line-33"><code>// Output: "ZgotmplZ"</code></span>
<span class="codeline" id="line-34"><code>// Example:</code></span>
<span class="codeline" id="line-35"><code>//   &lt;img src="{{.X}}"&gt;</code></span>
<span class="codeline" id="line-36"><code>//   where {{.X}} evaluates to `javascript:...`</code></span>
<span class="codeline" id="line-37"><code>// Discussion:</code></span>
<span class="codeline" id="line-38"><code>//   "ZgotmplZ" is a special value that indicates that unsafe content reached a</code></span>
<span class="codeline" id="line-39"><code>//   CSS or URL context at runtime. The output of the example will be</code></span>
<span class="codeline" id="line-40"><code>//     &lt;img src="#ZgotmplZ"&gt;</code></span>
<span class="codeline" id="line-41"><code>//   If the data comes from a trusted source, use content types to exempt it</code></span>
<span class="codeline" id="line-42"><code>//   from filtering: URL(`javascript:...`).</code></span>
<span class="codeline" id="line-43"><code>const (</code></span>
<span class="codeline" id="line-44"><code>	// OK indicates the lack of an error.</code></span>
<span class="codeline" id="line-45"><code>	OK ErrorCode = iota</code></span>
<span class="codeline" id="line-46"><code></code></span>
<span class="codeline" id="line-47"><code>	// ErrAmbigContext: "... appears in an ambiguous context within a URL"</code></span>
<span class="codeline" id="line-48"><code>	// Example:</code></span>
<span class="codeline" id="line-49"><code>	//   &lt;a href="</code></span>
<span class="codeline" id="line-50"><code>	//      {{if .C}}</code></span>
<span class="codeline" id="line-51"><code>	//        /path/</code></span>
<span class="codeline" id="line-52"><code>	//      {{else}}</code></span>
<span class="codeline" id="line-53"><code>	//        /search?q=</code></span>
<span class="codeline" id="line-54"><code>	//      {{end}}</code></span>
<span class="codeline" id="line-55"><code>	//      {{.X}}</code></span>
<span class="codeline" id="line-56"><code>	//   "&gt;</code></span>
<span class="codeline" id="line-57"><code>	// Discussion:</code></span>
<span class="codeline" id="line-58"><code>	//   {{.X}} is in an ambiguous URL context since, depending on {{.C}},</code></span>
<span class="codeline" id="line-59"><code>	//  it may be either a URL suffix or a query parameter.</code></span>
<span class="codeline" id="line-60"><code>	//   Moving {{.X}} into the condition removes the ambiguity:</code></span>
<span class="codeline" id="line-61"><code>	//   &lt;a href="{{if .C}}/path/{{.X}}{{else}}/search?q={{.X}}"&gt;</code></span>
<span class="codeline" id="line-62"><code>	ErrAmbigContext</code></span>
<span class="codeline" id="line-63"><code></code></span>
<span class="codeline" id="line-64"><code>	// ErrBadHTML: "expected space, attr name, or end of tag, but got ...",</code></span>
<span class="codeline" id="line-65"><code>	//   "... in unquoted attr", "... in attribute name"</code></span>
<span class="codeline" id="line-66"><code>	// Example:</code></span>
<span class="codeline" id="line-67"><code>	//   &lt;a href = /search?q=foo&gt;</code></span>
<span class="codeline" id="line-68"><code>	//   &lt;href=foo&gt;</code></span>
<span class="codeline" id="line-69"><code>	//   &lt;form na&lt;e=...&gt;</code></span>
<span class="codeline" id="line-70"><code>	//   &lt;option selected&lt;</code></span>
<span class="codeline" id="line-71"><code>	// Discussion:</code></span>
<span class="codeline" id="line-72"><code>	//   This is often due to a typo in an HTML element, but some runes</code></span>
<span class="codeline" id="line-73"><code>	//   are banned in tag names, attribute names, and unquoted attribute</code></span>
<span class="codeline" id="line-74"><code>	//   values because they can tickle parser ambiguities.</code></span>
<span class="codeline" id="line-75"><code>	//   Quoting all attributes is the best policy.</code></span>
<span class="codeline" id="line-76"><code>	ErrBadHTML</code></span>
<span class="codeline" id="line-77"><code></code></span>
<span class="codeline" id="line-78"><code>	// ErrBranchEnd: "{{if}} branches end in different contexts"</code></span>
<span class="codeline" id="line-79"><code>	// Example:</code></span>
<span class="codeline" id="line-80"><code>	//   {{if .C}}&lt;a href="{{end}}{{.X}}</code></span>
<span class="codeline" id="line-81"><code>	// Discussion:</code></span>
<span class="codeline" id="line-82"><code>	//   Package html/template statically examines each path through an</code></span>
<span class="codeline" id="line-83"><code>	//   {{if}}, {{range}}, or {{with}} to escape any following pipelines.</code></span>
<span class="codeline" id="line-84"><code>	//   The example is ambiguous since {{.X}} might be an HTML text node,</code></span>
<span class="codeline" id="line-85"><code>	//   or a URL prefix in an HTML attribute. The context of {{.X}} is</code></span>
<span class="codeline" id="line-86"><code>	//   used to figure out how to escape it, but that context depends on</code></span>
<span class="codeline" id="line-87"><code>	//   the run-time value of {{.C}} which is not statically known.</code></span>
<span class="codeline" id="line-88"><code>	//</code></span>
<span class="codeline" id="line-89"><code>	//   The problem is usually something like missing quotes or angle</code></span>
<span class="codeline" id="line-90"><code>	//   brackets, or can be avoided by refactoring to put the two contexts</code></span>
<span class="codeline" id="line-91"><code>	//   into different branches of an if, range or with. If the problem</code></span>
<span class="codeline" id="line-92"><code>	//   is in a {{range}} over a collection that should never be empty,</code></span>
<span class="codeline" id="line-93"><code>	//   adding a dummy {{else}} can help.</code></span>
<span class="codeline" id="line-94"><code>	ErrBranchEnd</code></span>
<span class="codeline" id="line-95"><code></code></span>
<span class="codeline" id="line-96"><code>	// ErrEndContext: "... ends in a non-text context: ..."</code></span>
<span class="codeline" id="line-97"><code>	// Examples:</code></span>
<span class="codeline" id="line-98"><code>	//   &lt;div</code></span>
<span class="codeline" id="line-99"><code>	//   &lt;div title="no close quote&gt;</code></span>
<span class="codeline" id="line-100"><code>	//   &lt;script&gt;f()</code></span>
<span class="codeline" id="line-101"><code>	// Discussion:</code></span>
<span class="codeline" id="line-102"><code>	//   Executed templates should produce a DocumentFragment of HTML.</code></span>
<span class="codeline" id="line-103"><code>	//   Templates that end without closing tags will trigger this error.</code></span>
<span class="codeline" id="line-104"><code>	//   Templates that should not be used in an HTML context or that</code></span>
<span class="codeline" id="line-105"><code>	//   produce incomplete Fragments should not be executed directly.</code></span>
<span class="codeline" id="line-106"><code>	//</code></span>
<span class="codeline" id="line-107"><code>	//   {{define "main"}} &lt;script&gt;{{template "helper"}}&lt;/script&gt; {{end}}</code></span>
<span class="codeline" id="line-108"><code>	//   {{define "helper"}} document.write(' &lt;div title=" ') {{end}}</code></span>
<span class="codeline" id="line-109"><code>	//</code></span>
<span class="codeline" id="line-110"><code>	//   "helper" does not produce a valid document fragment, so should</code></span>
<span class="codeline" id="line-111"><code>	//   not be Executed directly.</code></span>
<span class="codeline" id="line-112"><code>	ErrEndContext</code></span>
<span class="codeline" id="line-113"><code></code></span>
<span class="codeline" id="line-114"><code>	// ErrNoSuchTemplate: "no such template ..."</code></span>
<span class="codeline" id="line-115"><code>	// Examples:</code></span>
<span class="codeline" id="line-116"><code>	//   {{define "main"}}&lt;div {{template "attrs"}}&gt;{{end}}</code></span>
<span class="codeline" id="line-117"><code>	//   {{define "attrs"}}href="{{.URL}}"{{end}}</code></span>
<span class="codeline" id="line-118"><code>	// Discussion:</code></span>
<span class="codeline" id="line-119"><code>	//   Package html/template looks through template calls to compute the</code></span>
<span class="codeline" id="line-120"><code>	//   context.</code></span>
<span class="codeline" id="line-121"><code>	//   Here the {{.URL}} in "attrs" must be treated as a URL when called</code></span>
<span class="codeline" id="line-122"><code>	//   from "main", but you will get this error if "attrs" is not defined</code></span>
<span class="codeline" id="line-123"><code>	//   when "main" is parsed.</code></span>
<span class="codeline" id="line-124"><code>	ErrNoSuchTemplate</code></span>
<span class="codeline" id="line-125"><code></code></span>
<span class="codeline" id="line-126"><code>	// ErrOutputContext: "cannot compute output context for template ..."</code></span>
<span class="codeline" id="line-127"><code>	// Examples:</code></span>
<span class="codeline" id="line-128"><code>	//   {{define "t"}}{{if .T}}{{template "t" .T}}{{end}}{{.H}}",{{end}}</code></span>
<span class="codeline" id="line-129"><code>	// Discussion:</code></span>
<span class="codeline" id="line-130"><code>	//   A recursive template does not end in the same context in which it</code></span>
<span class="codeline" id="line-131"><code>	//   starts, and a reliable output context cannot be computed.</code></span>
<span class="codeline" id="line-132"><code>	//   Look for typos in the named template.</code></span>
<span class="codeline" id="line-133"><code>	//   If the template should not be called in the named start context,</code></span>
<span class="codeline" id="line-134"><code>	//   look for calls to that template in unexpected contexts.</code></span>
<span class="codeline" id="line-135"><code>	//   Maybe refactor recursive templates to not be recursive.</code></span>
<span class="codeline" id="line-136"><code>	ErrOutputContext</code></span>
<span class="codeline" id="line-137"><code></code></span>
<span class="codeline" id="line-138"><code>	// ErrPartialCharset: "unfinished JS regexp charset in ..."</code></span>
<span class="codeline" id="line-139"><code>	// Example:</code></span>
<span class="codeline" id="line-140"><code>	//     &lt;script&gt;var pattern = /foo[{{.Chars}}]/&lt;/script&gt;</code></span>
<span class="codeline" id="line-141"><code>	// Discussion:</code></span>
<span class="codeline" id="line-142"><code>	//   Package html/template does not support interpolation into regular</code></span>
<span class="codeline" id="line-143"><code>	//   expression literal character sets.</code></span>
<span class="codeline" id="line-144"><code>	ErrPartialCharset</code></span>
<span class="codeline" id="line-145"><code></code></span>
<span class="codeline" id="line-146"><code>	// ErrPartialEscape: "unfinished escape sequence in ..."</code></span>
<span class="codeline" id="line-147"><code>	// Example:</code></span>
<span class="codeline" id="line-148"><code>	//   &lt;script&gt;alert("\{{.X}}")&lt;/script&gt;</code></span>
<span class="codeline" id="line-149"><code>	// Discussion:</code></span>
<span class="codeline" id="line-150"><code>	//   Package html/template does not support actions following a</code></span>
<span class="codeline" id="line-151"><code>	//   backslash.</code></span>
<span class="codeline" id="line-152"><code>	//   This is usually an error and there are better solutions; for</code></span>
<span class="codeline" id="line-153"><code>	//   example</code></span>
<span class="codeline" id="line-154"><code>	//     &lt;script&gt;alert("{{.X}}")&lt;/script&gt;</code></span>
<span class="codeline" id="line-155"><code>	//   should work, and if {{.X}} is a partial escape sequence such as</code></span>
<span class="codeline" id="line-156"><code>	//   "xA0", mark the whole sequence as safe content: JSStr(`\xA0`)</code></span>
<span class="codeline" id="line-157"><code>	ErrPartialEscape</code></span>
<span class="codeline" id="line-158"><code></code></span>
<span class="codeline" id="line-159"><code>	// ErrRangeLoopReentry: "on range loop re-entry: ..."</code></span>
<span class="codeline" id="line-160"><code>	// Example:</code></span>
<span class="codeline" id="line-161"><code>	//   &lt;script&gt;var x = [{{range .}}'{{.}},{{end}}]&lt;/script&gt;</code></span>
<span class="codeline" id="line-162"><code>	// Discussion:</code></span>
<span class="codeline" id="line-163"><code>	//   If an iteration through a range would cause it to end in a</code></span>
<span class="codeline" id="line-164"><code>	//   different context than an earlier pass, there is no single context.</code></span>
<span class="codeline" id="line-165"><code>	//   In the example, there is missing a quote, so it is not clear</code></span>
<span class="codeline" id="line-166"><code>	//   whether {{.}} is meant to be inside a JS string or in a JS value</code></span>
<span class="codeline" id="line-167"><code>	//   context. The second iteration would produce something like</code></span>
<span class="codeline" id="line-168"><code>	//</code></span>
<span class="codeline" id="line-169"><code>	//     &lt;script&gt;var x = ['firstValue,'secondValue]&lt;/script&gt;</code></span>
<span class="codeline" id="line-170"><code>	ErrRangeLoopReentry</code></span>
<span class="codeline" id="line-171"><code></code></span>
<span class="codeline" id="line-172"><code>	// ErrSlashAmbig: '/' could start a division or regexp.</code></span>
<span class="codeline" id="line-173"><code>	// Example:</code></span>
<span class="codeline" id="line-174"><code>	//   &lt;script&gt;</code></span>
<span class="codeline" id="line-175"><code>	//     {{if .C}}var x = 1{{end}}</code></span>
<span class="codeline" id="line-176"><code>	//     /-{{.N}}/i.test(x) ? doThis : doThat();</code></span>
<span class="codeline" id="line-177"><code>	//   &lt;/script&gt;</code></span>
<span class="codeline" id="line-178"><code>	// Discussion:</code></span>
<span class="codeline" id="line-179"><code>	//   The example above could produce `var x = 1/-2/i.test(s)...`</code></span>
<span class="codeline" id="line-180"><code>	//   in which the first '/' is a mathematical division operator or it</code></span>
<span class="codeline" id="line-181"><code>	//   could produce `/-2/i.test(s)` in which the first '/' starts a</code></span>
<span class="codeline" id="line-182"><code>	//   regexp literal.</code></span>
<span class="codeline" id="line-183"><code>	//   Look for missing semicolons inside branches, and maybe add</code></span>
<span class="codeline" id="line-184"><code>	//   parentheses to make it clear which interpretation you intend.</code></span>
<span class="codeline" id="line-185"><code>	ErrSlashAmbig</code></span>
<span class="codeline" id="line-186"><code></code></span>
<span class="codeline" id="line-187"><code>	// ErrPredefinedEscaper: "predefined escaper ... disallowed in template"</code></span>
<span class="codeline" id="line-188"><code>	// Example:</code></span>
<span class="codeline" id="line-189"><code>	//   &lt;div class={{. | html}}&gt;Hello&lt;div&gt;</code></span>
<span class="codeline" id="line-190"><code>	// Discussion:</code></span>
<span class="codeline" id="line-191"><code>	//   Package html/template already contextually escapes all pipelines to</code></span>
<span class="codeline" id="line-192"><code>	//   produce HTML output safe against code injection. Manually escaping</code></span>
<span class="codeline" id="line-193"><code>	//   pipeline output using the predefined escapers "html" or "urlquery" is</code></span>
<span class="codeline" id="line-194"><code>	//   unnecessary, and may affect the correctness or safety of the escaped</code></span>
<span class="codeline" id="line-195"><code>	//   pipeline output in Go 1.8 and earlier.</code></span>
<span class="codeline" id="line-196"><code>	//</code></span>
<span class="codeline" id="line-197"><code>	//   In most cases, such as the given example, this error can be resolved by</code></span>
<span class="codeline" id="line-198"><code>	//   simply removing the predefined escaper from the pipeline and letting the</code></span>
<span class="codeline" id="line-199"><code>	//   contextual autoescaper handle the escaping of the pipeline. In other</code></span>
<span class="codeline" id="line-200"><code>	//   instances, where the predefined escaper occurs in the middle of a</code></span>
<span class="codeline" id="line-201"><code>	//   pipeline where subsequent commands expect escaped input, e.g.</code></span>
<span class="codeline" id="line-202"><code>	//     {{.X | html | makeALink}}</code></span>
<span class="codeline" id="line-203"><code>	//   where makeALink does</code></span>
<span class="codeline" id="line-204"><code>	//     return `&lt;a href="`+input+`"&gt;link&lt;/a&gt;`</code></span>
<span class="codeline" id="line-205"><code>	//   consider refactoring the surrounding template to make use of the</code></span>
<span class="codeline" id="line-206"><code>	//   contextual autoescaper, i.e.</code></span>
<span class="codeline" id="line-207"><code>	//     &lt;a href="{{.X}}"&gt;link&lt;/a&gt;</code></span>
<span class="codeline" id="line-208"><code>	//</code></span>
<span class="codeline" id="line-209"><code>	//   To ease migration to Go 1.9 and beyond, "html" and "urlquery" will</code></span>
<span class="codeline" id="line-210"><code>	//   continue to be allowed as the last command in a pipeline. However, if the</code></span>
<span class="codeline" id="line-211"><code>	//   pipeline occurs in an unquoted attribute value context, "html" is</code></span>
<span class="codeline" id="line-212"><code>	//   disallowed. Avoid using "html" and "urlquery" entirely in new templates.</code></span>
<span class="codeline" id="line-213"><code>	ErrPredefinedEscaper</code></span>
<span class="codeline" id="line-214"><code>)</code></span>
<span class="codeline" id="line-215"><code></code></span>
<span class="codeline" id="line-216"><code>func (e *Error) Error() string {</code></span>
<span class="codeline" id="line-217"><code>	switch {</code></span>
<span class="codeline" id="line-218"><code>	case e.Node != nil:</code></span>
<span class="codeline" id="line-219"><code>		loc, _ := (*parse.Tree)(nil).ErrorContext(e.Node)</code></span>
<span class="codeline" id="line-220"><code>		return fmt.Sprintf("html/template:%s: %s", loc, e.Description)</code></span>
<span class="codeline" id="line-221"><code>	case e.Line != 0:</code></span>
<span class="codeline" id="line-222"><code>		return fmt.Sprintf("html/template:%s:%d: %s", e.Name, e.Line, e.Description)</code></span>
<span class="codeline" id="line-223"><code>	case e.Name != "":</code></span>
<span class="codeline" id="line-224"><code>		return fmt.Sprintf("html/template:%s: %s", e.Name, e.Description)</code></span>
<span class="codeline" id="line-225"><code>	}</code></span>
<span class="codeline" id="line-226"><code>	return "html/template: " + e.Description</code></span>
<span class="codeline" id="line-227"><code>}</code></span>
<span class="codeline" id="line-228"><code></code></span>
<span class="codeline" id="line-229"><code>// errorf creates an error given a format string f and args.</code></span>
<span class="codeline" id="line-230"><code>// The template Name still needs to be supplied.</code></span>
<span class="codeline" id="line-231"><code>func errorf(k ErrorCode, node parse.Node, line int, f string, args ...interface{}) *Error {</code></span>
<span class="codeline" id="line-232"><code>	return &amp;Error{k, node, "", line, fmt.Sprintf(f, args...)}</code></span>
<span class="codeline" id="line-233"><code>}</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>