<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: pem_decrypt.go in package crypto/x509</title>
<link href="../../../css/light-v0.3.2.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	pem_decrypt.go

<span class="title">Belonging Package</span>
	<a href="../../../pkg/crypto/x509.html">crypto/x509</a>
</code></pre>

<pre class="line-numbers">
<span class="codeline" id="line-1"><code>// Copyright 2012 The Go Authors. All rights reserved.</code></span>
<span class="codeline" id="line-2"><code>// Use of this source code is governed by a BSD-style</code></span>
<span class="codeline" id="line-3"><code>// license that can be found in the LICENSE file.</code></span>
<span class="codeline" id="line-4"><code></code></span>
<span class="codeline" id="line-5"><code>package x509</code></span>
<span class="codeline" id="line-6"><code></code></span>
<span class="codeline" id="line-7"><code>// RFC 1423 describes the encryption of PEM blocks. The algorithm used to</code></span>
<span class="codeline" id="line-8"><code>// generate a key from the password was derived by looking at the OpenSSL</code></span>
<span class="codeline" id="line-9"><code>// implementation.</code></span>
<span class="codeline" id="line-10"><code></code></span>
<span class="codeline" id="line-11"><code>import (</code></span>
<span class="codeline" id="line-12"><code>	"crypto/aes"</code></span>
<span class="codeline" id="line-13"><code>	"crypto/cipher"</code></span>
<span class="codeline" id="line-14"><code>	"crypto/des"</code></span>
<span class="codeline" id="line-15"><code>	"crypto/md5"</code></span>
<span class="codeline" id="line-16"><code>	"encoding/hex"</code></span>
<span class="codeline" id="line-17"><code>	"encoding/pem"</code></span>
<span class="codeline" id="line-18"><code>	"errors"</code></span>
<span class="codeline" id="line-19"><code>	"io"</code></span>
<span class="codeline" id="line-20"><code>	"strings"</code></span>
<span class="codeline" id="line-21"><code>)</code></span>
<span class="codeline" id="line-22"><code></code></span>
<span class="codeline" id="line-23"><code>type PEMCipher int</code></span>
<span class="codeline" id="line-24"><code></code></span>
<span class="codeline" id="line-25"><code>// Possible values for the EncryptPEMBlock encryption algorithm.</code></span>
<span class="codeline" id="line-26"><code>const (</code></span>
<span class="codeline" id="line-27"><code>	_ PEMCipher = iota</code></span>
<span class="codeline" id="line-28"><code>	PEMCipherDES</code></span>
<span class="codeline" id="line-29"><code>	PEMCipher3DES</code></span>
<span class="codeline" id="line-30"><code>	PEMCipherAES128</code></span>
<span class="codeline" id="line-31"><code>	PEMCipherAES192</code></span>
<span class="codeline" id="line-32"><code>	PEMCipherAES256</code></span>
<span class="codeline" id="line-33"><code>)</code></span>
<span class="codeline" id="line-34"><code></code></span>
<span class="codeline" id="line-35"><code>// rfc1423Algo holds a method for enciphering a PEM block.</code></span>
<span class="codeline" id="line-36"><code>type rfc1423Algo struct {</code></span>
<span class="codeline" id="line-37"><code>	cipher     PEMCipher</code></span>
<span class="codeline" id="line-38"><code>	name       string</code></span>
<span class="codeline" id="line-39"><code>	cipherFunc func(key []byte) (cipher.Block, error)</code></span>
<span class="codeline" id="line-40"><code>	keySize    int</code></span>
<span class="codeline" id="line-41"><code>	blockSize  int</code></span>
<span class="codeline" id="line-42"><code>}</code></span>
<span class="codeline" id="line-43"><code></code></span>
<span class="codeline" id="line-44"><code>// rfc1423Algos holds a slice of the possible ways to encrypt a PEM</code></span>
<span class="codeline" id="line-45"><code>// block. The ivSize numbers were taken from the OpenSSL source.</code></span>
<span class="codeline" id="line-46"><code>var rfc1423Algos = []rfc1423Algo{{</code></span>
<span class="codeline" id="line-47"><code>	cipher:     PEMCipherDES,</code></span>
<span class="codeline" id="line-48"><code>	name:       "DES-CBC",</code></span>
<span class="codeline" id="line-49"><code>	cipherFunc: des.NewCipher,</code></span>
<span class="codeline" id="line-50"><code>	keySize:    8,</code></span>
<span class="codeline" id="line-51"><code>	blockSize:  des.BlockSize,</code></span>
<span class="codeline" id="line-52"><code>}, {</code></span>
<span class="codeline" id="line-53"><code>	cipher:     PEMCipher3DES,</code></span>
<span class="codeline" id="line-54"><code>	name:       "DES-EDE3-CBC",</code></span>
<span class="codeline" id="line-55"><code>	cipherFunc: des.NewTripleDESCipher,</code></span>
<span class="codeline" id="line-56"><code>	keySize:    24,</code></span>
<span class="codeline" id="line-57"><code>	blockSize:  des.BlockSize,</code></span>
<span class="codeline" id="line-58"><code>}, {</code></span>
<span class="codeline" id="line-59"><code>	cipher:     PEMCipherAES128,</code></span>
<span class="codeline" id="line-60"><code>	name:       "AES-128-CBC",</code></span>
<span class="codeline" id="line-61"><code>	cipherFunc: aes.NewCipher,</code></span>
<span class="codeline" id="line-62"><code>	keySize:    16,</code></span>
<span class="codeline" id="line-63"><code>	blockSize:  aes.BlockSize,</code></span>
<span class="codeline" id="line-64"><code>}, {</code></span>
<span class="codeline" id="line-65"><code>	cipher:     PEMCipherAES192,</code></span>
<span class="codeline" id="line-66"><code>	name:       "AES-192-CBC",</code></span>
<span class="codeline" id="line-67"><code>	cipherFunc: aes.NewCipher,</code></span>
<span class="codeline" id="line-68"><code>	keySize:    24,</code></span>
<span class="codeline" id="line-69"><code>	blockSize:  aes.BlockSize,</code></span>
<span class="codeline" id="line-70"><code>}, {</code></span>
<span class="codeline" id="line-71"><code>	cipher:     PEMCipherAES256,</code></span>
<span class="codeline" id="line-72"><code>	name:       "AES-256-CBC",</code></span>
<span class="codeline" id="line-73"><code>	cipherFunc: aes.NewCipher,</code></span>
<span class="codeline" id="line-74"><code>	keySize:    32,</code></span>
<span class="codeline" id="line-75"><code>	blockSize:  aes.BlockSize,</code></span>
<span class="codeline" id="line-76"><code>},</code></span>
<span class="codeline" id="line-77"><code>}</code></span>
<span class="codeline" id="line-78"><code></code></span>
<span class="codeline" id="line-79"><code>// deriveKey uses a key derivation function to stretch the password into a key</code></span>
<span class="codeline" id="line-80"><code>// with the number of bits our cipher requires. This algorithm was derived from</code></span>
<span class="codeline" id="line-81"><code>// the OpenSSL source.</code></span>
<span class="codeline" id="line-82"><code>func (c rfc1423Algo) deriveKey(password, salt []byte) []byte {</code></span>
<span class="codeline" id="line-83"><code>	hash := md5.New()</code></span>
<span class="codeline" id="line-84"><code>	out := make([]byte, c.keySize)</code></span>
<span class="codeline" id="line-85"><code>	var digest []byte</code></span>
<span class="codeline" id="line-86"><code></code></span>
<span class="codeline" id="line-87"><code>	for i := 0; i &lt; len(out); i += len(digest) {</code></span>
<span class="codeline" id="line-88"><code>		hash.Reset()</code></span>
<span class="codeline" id="line-89"><code>		hash.Write(digest)</code></span>
<span class="codeline" id="line-90"><code>		hash.Write(password)</code></span>
<span class="codeline" id="line-91"><code>		hash.Write(salt)</code></span>
<span class="codeline" id="line-92"><code>		digest = hash.Sum(digest[:0])</code></span>
<span class="codeline" id="line-93"><code>		copy(out[i:], digest)</code></span>
<span class="codeline" id="line-94"><code>	}</code></span>
<span class="codeline" id="line-95"><code>	return out</code></span>
<span class="codeline" id="line-96"><code>}</code></span>
<span class="codeline" id="line-97"><code></code></span>
<span class="codeline" id="line-98"><code>// IsEncryptedPEMBlock returns whether the PEM block is password encrypted</code></span>
<span class="codeline" id="line-99"><code>// according to RFC 1423.</code></span>
<span class="codeline" id="line-100"><code>//</code></span>
<span class="codeline" id="line-101"><code>// Deprecated: Legacy PEM encryption as specified in RFC 1423 is insecure by</code></span>
<span class="codeline" id="line-102"><code>// design. Since it does not authenticate the ciphertext, it is vulnerable to</code></span>
<span class="codeline" id="line-103"><code>// padding oracle attacks that can let an attacker recover the plaintext.</code></span>
<span class="codeline" id="line-104"><code>func IsEncryptedPEMBlock(b *pem.Block) bool {</code></span>
<span class="codeline" id="line-105"><code>	_, ok := b.Headers["DEK-Info"]</code></span>
<span class="codeline" id="line-106"><code>	return ok</code></span>
<span class="codeline" id="line-107"><code>}</code></span>
<span class="codeline" id="line-108"><code></code></span>
<span class="codeline" id="line-109"><code>// IncorrectPasswordError is returned when an incorrect password is detected.</code></span>
<span class="codeline" id="line-110"><code>var IncorrectPasswordError = errors.New("x509: decryption password incorrect")</code></span>
<span class="codeline" id="line-111"><code></code></span>
<span class="codeline" id="line-112"><code>// DecryptPEMBlock takes a PEM block encrypted according to RFC 1423 and the</code></span>
<span class="codeline" id="line-113"><code>// password used to encrypt it and returns a slice of decrypted DER encoded</code></span>
<span class="codeline" id="line-114"><code>// bytes. It inspects the DEK-Info header to determine the algorithm used for</code></span>
<span class="codeline" id="line-115"><code>// decryption. If no DEK-Info header is present, an error is returned. If an</code></span>
<span class="codeline" id="line-116"><code>// incorrect password is detected an IncorrectPasswordError is returned. Because</code></span>
<span class="codeline" id="line-117"><code>// of deficiencies in the format, it's not always possible to detect an</code></span>
<span class="codeline" id="line-118"><code>// incorrect password. In these cases no error will be returned but the</code></span>
<span class="codeline" id="line-119"><code>// decrypted DER bytes will be random noise.</code></span>
<span class="codeline" id="line-120"><code>//</code></span>
<span class="codeline" id="line-121"><code>// Deprecated: Legacy PEM encryption as specified in RFC 1423 is insecure by</code></span>
<span class="codeline" id="line-122"><code>// design. Since it does not authenticate the ciphertext, it is vulnerable to</code></span>
<span class="codeline" id="line-123"><code>// padding oracle attacks that can let an attacker recover the plaintext.</code></span>
<span class="codeline" id="line-124"><code>func DecryptPEMBlock(b *pem.Block, password []byte) ([]byte, error) {</code></span>
<span class="codeline" id="line-125"><code>	dek, ok := b.Headers["DEK-Info"]</code></span>
<span class="codeline" id="line-126"><code>	if !ok {</code></span>
<span class="codeline" id="line-127"><code>		return nil, errors.New("x509: no DEK-Info header in block")</code></span>
<span class="codeline" id="line-128"><code>	}</code></span>
<span class="codeline" id="line-129"><code></code></span>
<span class="codeline" id="line-130"><code>	idx := strings.Index(dek, ",")</code></span>
<span class="codeline" id="line-131"><code>	if idx == -1 {</code></span>
<span class="codeline" id="line-132"><code>		return nil, errors.New("x509: malformed DEK-Info header")</code></span>
<span class="codeline" id="line-133"><code>	}</code></span>
<span class="codeline" id="line-134"><code></code></span>
<span class="codeline" id="line-135"><code>	mode, hexIV := dek[:idx], dek[idx+1:]</code></span>
<span class="codeline" id="line-136"><code>	ciph := cipherByName(mode)</code></span>
<span class="codeline" id="line-137"><code>	if ciph == nil {</code></span>
<span class="codeline" id="line-138"><code>		return nil, errors.New("x509: unknown encryption mode")</code></span>
<span class="codeline" id="line-139"><code>	}</code></span>
<span class="codeline" id="line-140"><code>	iv, err := hex.DecodeString(hexIV)</code></span>
<span class="codeline" id="line-141"><code>	if err != nil {</code></span>
<span class="codeline" id="line-142"><code>		return nil, err</code></span>
<span class="codeline" id="line-143"><code>	}</code></span>
<span class="codeline" id="line-144"><code>	if len(iv) != ciph.blockSize {</code></span>
<span class="codeline" id="line-145"><code>		return nil, errors.New("x509: incorrect IV size")</code></span>
<span class="codeline" id="line-146"><code>	}</code></span>
<span class="codeline" id="line-147"><code></code></span>
<span class="codeline" id="line-148"><code>	// Based on the OpenSSL implementation. The salt is the first 8 bytes</code></span>
<span class="codeline" id="line-149"><code>	// of the initialization vector.</code></span>
<span class="codeline" id="line-150"><code>	key := ciph.deriveKey(password, iv[:8])</code></span>
<span class="codeline" id="line-151"><code>	block, err := ciph.cipherFunc(key)</code></span>
<span class="codeline" id="line-152"><code>	if err != nil {</code></span>
<span class="codeline" id="line-153"><code>		return nil, err</code></span>
<span class="codeline" id="line-154"><code>	}</code></span>
<span class="codeline" id="line-155"><code></code></span>
<span class="codeline" id="line-156"><code>	if len(b.Bytes)%block.BlockSize() != 0 {</code></span>
<span class="codeline" id="line-157"><code>		return nil, errors.New("x509: encrypted PEM data is not a multiple of the block size")</code></span>
<span class="codeline" id="line-158"><code>	}</code></span>
<span class="codeline" id="line-159"><code></code></span>
<span class="codeline" id="line-160"><code>	data := make([]byte, len(b.Bytes))</code></span>
<span class="codeline" id="line-161"><code>	dec := cipher.NewCBCDecrypter(block, iv)</code></span>
<span class="codeline" id="line-162"><code>	dec.CryptBlocks(data, b.Bytes)</code></span>
<span class="codeline" id="line-163"><code></code></span>
<span class="codeline" id="line-164"><code>	// Blocks are padded using a scheme where the last n bytes of padding are all</code></span>
<span class="codeline" id="line-165"><code>	// equal to n. It can pad from 1 to blocksize bytes inclusive. See RFC 1423.</code></span>
<span class="codeline" id="line-166"><code>	// For example:</code></span>
<span class="codeline" id="line-167"><code>	//	[x y z 2 2]</code></span>
<span class="codeline" id="line-168"><code>	//	[x y 7 7 7 7 7 7 7]</code></span>
<span class="codeline" id="line-169"><code>	// If we detect a bad padding, we assume it is an invalid password.</code></span>
<span class="codeline" id="line-170"><code>	dlen := len(data)</code></span>
<span class="codeline" id="line-171"><code>	if dlen == 0 || dlen%ciph.blockSize != 0 {</code></span>
<span class="codeline" id="line-172"><code>		return nil, errors.New("x509: invalid padding")</code></span>
<span class="codeline" id="line-173"><code>	}</code></span>
<span class="codeline" id="line-174"><code>	last := int(data[dlen-1])</code></span>
<span class="codeline" id="line-175"><code>	if dlen &lt; last {</code></span>
<span class="codeline" id="line-176"><code>		return nil, IncorrectPasswordError</code></span>
<span class="codeline" id="line-177"><code>	}</code></span>
<span class="codeline" id="line-178"><code>	if last == 0 || last &gt; ciph.blockSize {</code></span>
<span class="codeline" id="line-179"><code>		return nil, IncorrectPasswordError</code></span>
<span class="codeline" id="line-180"><code>	}</code></span>
<span class="codeline" id="line-181"><code>	for _, val := range data[dlen-last:] {</code></span>
<span class="codeline" id="line-182"><code>		if int(val) != last {</code></span>
<span class="codeline" id="line-183"><code>			return nil, IncorrectPasswordError</code></span>
<span class="codeline" id="line-184"><code>		}</code></span>
<span class="codeline" id="line-185"><code>	}</code></span>
<span class="codeline" id="line-186"><code>	return data[:dlen-last], nil</code></span>
<span class="codeline" id="line-187"><code>}</code></span>
<span class="codeline" id="line-188"><code></code></span>
<span class="codeline" id="line-189"><code>// EncryptPEMBlock returns a PEM block of the specified type holding the</code></span>
<span class="codeline" id="line-190"><code>// given DER encoded data encrypted with the specified algorithm and</code></span>
<span class="codeline" id="line-191"><code>// password according to RFC 1423.</code></span>
<span class="codeline" id="line-192"><code>//</code></span>
<span class="codeline" id="line-193"><code>// Deprecated: Legacy PEM encryption as specified in RFC 1423 is insecure by</code></span>
<span class="codeline" id="line-194"><code>// design. Since it does not authenticate the ciphertext, it is vulnerable to</code></span>
<span class="codeline" id="line-195"><code>// padding oracle attacks that can let an attacker recover the plaintext.</code></span>
<span class="codeline" id="line-196"><code>func EncryptPEMBlock(rand io.Reader, blockType string, data, password []byte, alg PEMCipher) (*pem.Block, error) {</code></span>
<span class="codeline" id="line-197"><code>	ciph := cipherByKey(alg)</code></span>
<span class="codeline" id="line-198"><code>	if ciph == nil {</code></span>
<span class="codeline" id="line-199"><code>		return nil, errors.New("x509: unknown encryption mode")</code></span>
<span class="codeline" id="line-200"><code>	}</code></span>
<span class="codeline" id="line-201"><code>	iv := make([]byte, ciph.blockSize)</code></span>
<span class="codeline" id="line-202"><code>	if _, err := io.ReadFull(rand, iv); err != nil {</code></span>
<span class="codeline" id="line-203"><code>		return nil, errors.New("x509: cannot generate IV: " + err.Error())</code></span>
<span class="codeline" id="line-204"><code>	}</code></span>
<span class="codeline" id="line-205"><code>	// The salt is the first 8 bytes of the initialization vector,</code></span>
<span class="codeline" id="line-206"><code>	// matching the key derivation in DecryptPEMBlock.</code></span>
<span class="codeline" id="line-207"><code>	key := ciph.deriveKey(password, iv[:8])</code></span>
<span class="codeline" id="line-208"><code>	block, err := ciph.cipherFunc(key)</code></span>
<span class="codeline" id="line-209"><code>	if err != nil {</code></span>
<span class="codeline" id="line-210"><code>		return nil, err</code></span>
<span class="codeline" id="line-211"><code>	}</code></span>
<span class="codeline" id="line-212"><code>	enc := cipher.NewCBCEncrypter(block, iv)</code></span>
<span class="codeline" id="line-213"><code>	pad := ciph.blockSize - len(data)%ciph.blockSize</code></span>
<span class="codeline" id="line-214"><code>	encrypted := make([]byte, len(data), len(data)+pad)</code></span>
<span class="codeline" id="line-215"><code>	// We could save this copy by encrypting all the whole blocks in</code></span>
<span class="codeline" id="line-216"><code>	// the data separately, but it doesn't seem worth the additional</code></span>
<span class="codeline" id="line-217"><code>	// code.</code></span>
<span class="codeline" id="line-218"><code>	copy(encrypted, data)</code></span>
<span class="codeline" id="line-219"><code>	// See RFC 1423, Section 1.1.</code></span>
<span class="codeline" id="line-220"><code>	for i := 0; i &lt; pad; i++ {</code></span>
<span class="codeline" id="line-221"><code>		encrypted = append(encrypted, byte(pad))</code></span>
<span class="codeline" id="line-222"><code>	}</code></span>
<span class="codeline" id="line-223"><code>	enc.CryptBlocks(encrypted, encrypted)</code></span>
<span class="codeline" id="line-224"><code></code></span>
<span class="codeline" id="line-225"><code>	return &amp;pem.Block{</code></span>
<span class="codeline" id="line-226"><code>		Type: blockType,</code></span>
<span class="codeline" id="line-227"><code>		Headers: map[string]string{</code></span>
<span class="codeline" id="line-228"><code>			"Proc-Type": "4,ENCRYPTED",</code></span>
<span class="codeline" id="line-229"><code>			"DEK-Info":  ciph.name + "," + hex.EncodeToString(iv),</code></span>
<span class="codeline" id="line-230"><code>		},</code></span>
<span class="codeline" id="line-231"><code>		Bytes: encrypted,</code></span>
<span class="codeline" id="line-232"><code>	}, nil</code></span>
<span class="codeline" id="line-233"><code>}</code></span>
<span class="codeline" id="line-234"><code></code></span>
<span class="codeline" id="line-235"><code>func cipherByName(name string) *rfc1423Algo {</code></span>
<span class="codeline" id="line-236"><code>	for i := range rfc1423Algos {</code></span>
<span class="codeline" id="line-237"><code>		alg := &amp;rfc1423Algos[i]</code></span>
<span class="codeline" id="line-238"><code>		if alg.name == name {</code></span>
<span class="codeline" id="line-239"><code>			return alg</code></span>
<span class="codeline" id="line-240"><code>		}</code></span>
<span class="codeline" id="line-241"><code>	}</code></span>
<span class="codeline" id="line-242"><code>	return nil</code></span>
<span class="codeline" id="line-243"><code>}</code></span>
<span class="codeline" id="line-244"><code></code></span>
<span class="codeline" id="line-245"><code>func cipherByKey(key PEMCipher) *rfc1423Algo {</code></span>
<span class="codeline" id="line-246"><code>	for i := range rfc1423Algos {</code></span>
<span class="codeline" id="line-247"><code>		alg := &amp;rfc1423Algos[i]</code></span>
<span class="codeline" id="line-248"><code>		if alg.cipher == key {</code></span>
<span class="codeline" id="line-249"><code>			return alg</code></span>
<span class="codeline" id="line-250"><code>		}</code></span>
<span class="codeline" id="line-251"><code>	}</code></span>
<span class="codeline" id="line-252"><code>	return nil</code></span>
<span class="codeline" id="line-253"><code>}</code></span>
</pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2</i>. (GOOS=linux GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>